#jj_content{width:100%;min-width:1200px;background:#F6F6F6 url(../images/reg_bg.png) repeat-x;overflow:hidden;margin-top:-1px}
#wrapJianjie{width:1144px;margin:30px auto;padding:33px 28px;background:#FFF}
#wrapJianjie .j_tab_ul{width:100%;height:43px;border-bottom:1px solid #E8E8E8}
.j_tab_ul li{float:left;line-height:50px;height:43px;font-size:16px;color:#717171;padding:0 8px;margin-right:20px;cursor:pointer}
.j_tab_ul li.act{border-bottom:2px solid #2BB8C0;height:42px;font-weight:700;color:#FF7302}
#wrapJianjie .wrapTable{width:1124px;margin-top:12px;padding:0 10px 10px;min-height:700px}
.wrapTable .jj_1{padding-top:60px;width:100%}
.wrapTable table{background:#fff;padding-top:5px}
.wrapTable table th{width:250px;height:40px;font-size:16px;color:#fff}
.jianjie3 table th{width:262px}
.wrapTable table .txtFc{width:500px}
.wrapTable table .txtAl{width:300px}
.wrapTable table .th1{width:70px}
.wrapTable table tr{height:57px;font-size:16px;color:#000}
.wrapTable table tr.bgColor{background:#F8F8F8}
.wrapTable table tr td{border-right:1px solid #B9B9B9;border-bottom:1px solid #B9B9B9;padding:8px 15px;color:gray;font-size:13px;line-height:20px;width:250px}
.wrapTable table tr td.txtCe{text-align:center;background:#fff;width:170px}
.wrapTable table .n1{width:70px;font-family:Arial;font-size:20px;padding:0;text-align:center}
.wrapTable table td.notBor,.wrapTable table td:nth-of-type(6),.wrapTable table th:nth-of-type(6){border-right:none}
.wrapTable table .noBor td{border-bottom:none}
.wrapTable thead tr{height:40px}
.wrapTable table tr td.noTdBor,.wrapTable table tr.noTrBor td{border-bottom:none}
#wrapJianjie .jianjie0{background:#C0EA81}
#wrapJianjie .jianjie1{background:#FEBDC7}
#wrapJianjie .jianjie2{background:#F7D754}
#wrapJianjie .jianjie3{background:#B8E4FD}
.jianjie0 thead tr{background:#6EAA21}
.jianjie1 thead tr{background:#EF667C}
.jianjie2 thead tr{background:#E3A12E}
.jianjie3 thead tr{background:#40B0E2}
.jianjie0 table th{border-right:1px solid #309101}
.jianjie1 table th{border-right:1px solid #D42A45}
.jianjie2 table th{border-right:1px solid #D38B19}
.jianjie3 table th{border-right:1px solid #0380D8}
.jianjie0 table .n1{color:#39AC00;width:110px}
.jianjie1 table .n1{color:#EF526B;width:110px}
.jianjie2 table .n1{color:#ED7642;width:100px}
.jianjie3 table .n1{color:#4495DD;width:70px}
.jianjie0 table tr.firstTr td{border-top:2px solid #39AC00}
.jianjie1 table tr.firstTr td{border-top:2px solid #EF526B}
.jianjie2 table tr.firstTr td{border-top:2px solid #F18A1A}
.jianjie3 table tr.firstTr td{border-top:2px solid #10A5E9}
.jianjie0 .jj_1{background:url(/images/jj_0.png) no-repeat center 15px}
.jianjie1 .jj_1{background:url(/images/jj_1.png) no-repeat center 15px}
.jianjie2 .jj_1{background:url(/images/jj_2.png) no-repeat center 15px}
.jianjie3 .jj_1{background:url(/images/jj_3.png) no-repeat center 15px}