@charset "utf-8";
body,
p,
input,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dt,
dd,
form {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000;
  font-family: "\5FAE\8F6F\96C5\9ED1", Microsoft YaHei;
  vertical-align: middle;
}
/*公用部分*/
html {
  /*font-size为 320 / 640 * 100 = 50(px);*/
  font-size: 50px;
}
body {
  /*侧栏*/
  background-color: #fff;
  font-family: "\5FAE\8F6F\96C5\9ED1", Microsoft YaHei;
  /*字体 0.16rem 太小了，无法和小背景图片行高居中对齐（安卓手机兼容不到）*/
  font-size: 0.2rem;
}
img {
  border: none;
}
a {
  color: #384f5b;
  text-decoration: none;
}
a:link,
a:visited,
a:hover {
  color: #365db5;
}
/*返回顶部*/
#top-animation {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background: #ed9c28;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center;
}
/*top*/
.ui-top {
  width: 100%;
  height: 0.65rem;
  line-height: 0.65rem;
  color: #fff;
  border-bottom: 2px solid #19460A;
  background-image: linear-gradient(#426F32, #426F32);
}
.ui-top .logo {
  float: left;
  padding-left: 10px;
}
.ui-top .ui-user {
  float: right;
  padding-right: 10px;
}
.ui-top .ui-user span {
  padding: 0 5px;
  display: inline-block;
}
/*导航*/
.ui-nav {
  height: 38px;
  overflow: hidden;
  background: #f2f2f2;
  /*  width: calc(100% - 2.5rem);
  width: -webkit-calc(100% - 2.5rem);*/
}
.ui-nav ul {
  /* display: -webkit-box;*/
  overflow: hidden;
}
.ui-nav ul li {
  /*-webkit-box-flex:1;*/
  background: -webkit-gradient(linear, 0 0, 0 70%, from(#fbfbfb), to(#eee));
  text-align: center;
  float: left;
  height: 35px;
  /*width:25%;*/
  border-bottom: 3px solid #d8d8d8;
}
.ui-nav ul li a {
  height: 37px;
  line-height: 37px;
  /*width:1.5rem;*/
  text-align: center;
  display: block;
  border-right: 1px solid #c6c6c6;
  /*  border-left: 1px solid #f8f8f8;*/
}
/*one*/
.ui-content-item {
  background: #f7f4ed;
}
.ui-content-title {
  height: 0.5rem;
  line-height: 0.5rem;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  background: #f7f4ed;
}
.ui-content-title .more {
  float: right;
}
.ui-dl-list {
  height: 0.9rem;
  position: relative;
  line-height: 0.3rem;
  padding-top: 0.25rem;
}
/*公用右边箭头*/
.ui-content-item ul li {
  border-bottom: 2px solid #E6DCC3;
  padding: 0 10px;
}
.ui-content-item ul li dt {
  font-weight: bold;
  margin-bottom: 5px;
}
.ui-content-item .ui-dl-list .ui-icon-right {
  margin: -23px 5px 0 0;
}
.ui-icon-right {
  float: right;
  position: relative;
  font-size: 0;
  border-width: 6px;
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #c3c3c3;
  margin: 12px 0 0 0;
}
.ui-icon-right em {
  position: absolute;
  font-size: 0;
  border-width: 4px;
  border-style: dashed dashed dashed solid;
  border-color: transparent transparent transparent #f1f1f1;
  top: -4px;
  left: -6px;
}
/*项目主体*/
.content {
  background: #ddd;
}
.ui-prom-body {
  padding-top: 10px;
}
/*底部*/
.ui-footer footer,
.ui-footer {
  text-align: center;
  padding: 10px 5px;
}
.ui-footer footer p,
.ui-footer p {
  line-height: 20px;
}
.ui-footer .ui-footer-link {
  margin-top: 10px;
}
.ui-footer .ui-footer-link a {
  font-size: 16px;
}
.ui-footer .ui-footer-link .active {
  color: #999;
}
.ui-footer .ui-footer-link span {
  padding: 0 10px;
}
