body,div,ul,ol,dl,dt,dd,li,h1,h2,h3,h4,h5,h6,p,input,font{margin:0;padding:0;font-size: 12px;font-family:"Microsoft YaHei"}
i,em{font-style: normal;}
ol,ul,li{list-style:none;display: block;}
img,input{margin:0;padding:0;border:none;outline: none;}
a{text-decoration: none; color: #666;font-size: 14px;}
.fl{float: left;}
.fr{float: right;}
/*登录页*/
#loging{width: 100%;height: 540px;background: #34A9DF;position: absolute;top: 50%;margin-top: -300px;}
.log_center{width: 270px;height: 100%;margin: 0 auto;}
.log_center .logo{width: 100%;height:225px;text-align: center;padding-top: 40px;padding-bottom: 20px; }
.log_center .inputBox{width: 100%;height: 85px;background: #fff;border-radius: 5px;overflow: hidden;}
.log_center .inputBox input{height: 42px;padding-left: 40px;width: 220px;font-size: 14px;padding-right: 10px;height: 20px\9;padding-top:11px\9;padding-bottom: 11px\9;background: url(../images/log_icon.png) no-repeat;color: #777;}
.log_center .inputBox input.acc_input{border-bottom: 1px solid #DFDFDF;background-position: 10px -77px;}
.log_center .inputBox input.pass_input{border-bottom: 1px solid #DFDFDF;background-position: 10px -126px;}
.log_center .inputBox input.acc_input:focus{color: #3A90DC;background-position: 10px 14px;}
.log_center .inputBox input.pass_input:focus{color: #3A90DC;background-position: 10px -35px;}
::-webkit-input-placeholder {color: #CCCCCC;} 
.log_center .log_but{width: 100%;height: 42px;width: 100%;padding-top: 40px;}
.log_center .log_but input{width: 100%;height: 100%;cursor: pointer;background: #FFD052;border-radius: 5px;color: #145597;font-size: 18px;}
.log_center .log_but input:hover{background: #FFC939;}
.log_center .foot {color: #0172B4;position: absolute;bottom: 10px;}

/*文章页*/
html,body{background: #FAFAFA;width: 100%;height: 100%;}
#header{width:100%;height: 90px;background: #fff;min-width: 1000px;}
#header .logo{width:450px;height: 100%;line-height: 90px;margin-left: 30px;}
#header .logo img{vertical-align: middle;}
#header .admin{height: 100%;margin-right: 30px;}
#header .admin .link{height: 30px;line-height: 30px;color: #AFAFAF;text-align: right;}
#header .admin .link a{padding:0 10px 0 8px;font-size: 14px;color: #838383;}
#header .admin .link a:hover{color: #F66644;text-decoration: underline;}
#header .account{height: 48px;line-height: 55px;min-width: 300px;}
#header .account .a1{height:48px;padding-left: 60px;display:inline-block;background: url(../images/admin.png) no-repeat;color: #69B4E9;margin-right: 30px;}
#header .account .a2{float: right;color: #F66644;}
#header .account a:hover{text-decoration: underline;}


#content{width: 100%;height: 100%;min-width: 1000px;min-height: 1100px;}
#content .l_menu{width: 166px;height: 100%;background: #8BC7F9;}
#content .l_menu .menu_ul{height: 100%;width: 100%;}
.l_menu .menu_ul li{height: 75px;width: 100%;}
.menu_ul li a{width: 106px;height: 100%;display: block;padding-left: 60px;line-height: 75px;color: #2E495E;font-size: 16px;text-indent: 10px;/*transition: 0.3s;*/background:url(../images/icon.png) no-repeat}


.menu_ul li a.act,.menu_ul li a.act:hover{background-color: #6EB4F2;}
.menu_ul li.li1 a{background-position: 0px 26px;}
.menu_ul li.li2 a{background-position: 0px -47px;}
.menu_ul li.li3 a{background-position: 0px -120px;}
.menu_ul li.li4 a{background-position: 0px -194px;}
.menu_ul li.li5 a{background-position: 0px -268px;}
.menu_ul li.li6 a{background-position: 0px -341px;}
.menu_ul li.li7 a{background-position: 0px -411px;}

.menu_ul li.li1 a:hover,.menu_ul li.li1 a.act{background-position: 0px -483px;}
.menu_ul li.li2 a:hover,.menu_ul li.li2 a.act{background-position: 0px -555px;}
.menu_ul li.li3 a:hover,.menu_ul li.li3 a.act{background-position: 0px -631px;}
.menu_ul li.li4 a:hover,.menu_ul li.li4 a.act{background-position: 0px -705px;}
.menu_ul li.li5 a:hover,.menu_ul li.li5 a.act{background-position: 0px -778px;}
.menu_ul li.li6 a:hover,.menu_ul li.li6 a.act{background-position: 0px -850px;;}
.menu_ul li.li7 a:hover,.menu_ul li.li7 a.act{background-position: 0px -920px;;}
.menu_ul li a:hover{background-color: #99D4FF;}
#content .r_content{margin-left: 166px;width: auto;height: 100%;}
.r_content .title{width: 100%;height: 43px;background: url(../images/title_bg.png);}
.r_content .title i{height: 100%;line-height: 43px;margin-left: 30px;font-size: 16px;}
.r_content .title .log_search{height: 100%;margin-right: 30px;}
.log_search a{padding-left: 35px;background: blue;height: 100%;line-height: 43px;background: url(../images/add.png) no-repeat 0 center;margin-right: 30px;}
.log_search .wrapSearch{width: 192px;height: 29px;margin-top: 7px;position: relative;}
.log_search .wrapSearch input.text{height: 100%;width: 152px;padding:0 40px 0 5px;border-radius: 3px;background:url(../images/search_bg.png) no-repeat 0 center;height: 19px\9;padding-top: 7px\9;padding-bottom: 3px\9}
.log_search .wrapSearch input.but{width: 40px;height: 100%;position: absolute;right: 0px;top: 0px;background:url(../images/search.png) no-repeat center center;cursor: pointer;}
.r_content .center_cont{width: 97.5%;margin: 0 auto;margin-top: 20px;box-shadow: 0 1px 5px #CCDCE9;border-top: 1px solid #D6E3ED;background: #fff;padding-bottom: 40px;position: relative;}
.wrapTable table{width: 100%;height: 100%;}
.wrapTable thead tr{width: 100%;height: 40px;background: #E7F0F6;color: #333333;font-size: 14px;}
.wrapTable thead th{background:#E7F0F6; }
.wrapTable thead tr .h1{width: 50px;}
.wrapTable thead tr .h2{width: 100px;}
.wrapTable thead tr .h3{min-width:100px;text-align: left;padding-left: 50px;}
.wrapTable thead tr .h8{width:100px;}
.wrapTable thead tr select{outline: none;padding:1px 5px;margin-left: 5px;font-family: '微软雅黑';border: 1px solid #ccc;border-radius: 3px;}

.wrapTable tbody tr{width: 100%;height: 80px;}
.wrapTable tbody tr:nth-child(even){background: #FBFBFB;}
.wrapTable tbody tr:hover *{color: #1591E9}
.wrapTable tbody tr td{height: 80px;text-align: center;color: #313131;padding:5px 0 1px 0;border-bottom: 1px solid #D3E1EC;}
.wrapTable tbody tr td.left{text-align: left;padding-left: 50px;max-width: 100px;}
.wrapTable tbody tr td a.revise,.wrapTable tbody tr td a.delete{padding:5px 15px;background: red;margin: 0 2px;background: url(../images/dele.png) no-repeat;}
.wrapTable tbody tr td a.revise{background-position: 4px 4px;}
.wrapTable tbody tr td a.delete{background-position: -39px 4px;}
input[type="checkbox"]{cursor: pointer;}
.wrapTable .page{position: absolute;height: 40px;bottom: 0;left: 0;background: #E7F0F6;width: 100%;line-height: 40px;text-align: center;}
.wrapTable  .page a{padding:3px 8px;margin: 0 2px;background: #F7F7F7;border: 1px solid #C8D0D5;border-radius: 3px;font-size: 12px;}
.wrapTable  .page a:hover{color: #6EB4F2;}
.wrapTable  .page a.act,.wrapTable  .page a.act:hover{background: #FFBA00;color: #fff;border-color:#FFBA00; }
/*公告管理*/
.notice tbody tr{width: 100%;height: 35px;}
.notice tbody tr td{height: 35px;padding: 3px 0;}
/*报名管理*/
.reginfo tbody tr{width: 100%;height: 35px;}
.reginfo tbody tr td{height: 35px;padding: 3px 0;}
/*讲师管理*/
.teacher thead tr th{border-right: 1px solid #D2E8F6;}
.teacher tbody tr td{height: 35px;padding: 10px 10px;border-right: 1px solid #E7F0F6;border-bottom: 1px solid #E7F0F6;}
/*学员分享*/
.share thead tr th{border-right: 1px solid #D2E8F6;}
.share tbody tr td{height: 35px;padding: 10px 10px;border-right: 1px solid #E7F0F6;border-bottom: 1px solid #E7F0F6;}
/*编辑文章*/
.edit .edit_title{width: 100%;height: 40px;background: #E7F0F6;line-height: 40px;font-size: 16px;text-indent: 20px;color: #333;font-weight: normal;}
.index_edit{width: 1020px;margin: 20px auto;}
.index_edit table{width: 100%;}
.index_edit table td{font-size: 14px;padding: 7px 0;}
.index_edit table td.td1{width: 98px;text-align: right;}
.index_edit table td input{height: 25px;width: 100%;padding: 0 5px;border: 1px solid #CBCBCB;border-radius: 2px;}
.index_edit table td i{color: #68B5E9;}
.index_edit table td select{padding: 3px 6px;border: 1px solid #CBCBCB;border-radius: 2px;outline: none;}
.index_edit table td textarea{border: 1px solid #CBCBCB;border-radius: 2px;outline: none;padding: 3px;}
.index_edit table td input.button{width: 120px;height: 30px;background: #FF7900;border: none;color: #fff;font-size: 16px;line-height: 30px;cursor: pointer;}
.index_edit table td input.button:hover{background: #FA7700;}
