html, body
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /*侧栏*/
    width: 100%;
    /*不能加高度，要不然中间区域跟随不到底部：style="padding-bottom: 1.13rem;"*/
    height: 100%;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}
html
{
    /*font-size为 320 / 640 * 100 = 50(px);*/
    font-size: 50px;
}
ul, ol, li, dl, dt, dd
{
    list-style-type: none;
    /*侧栏*/
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
/* a,button,input,textarea{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
} */
ins {
    text-decoration: none;
}
img {
    border: none;
    outline: none;
    /*zepto*/
    max-width: 100%;
    height: auto;
    width: auto9;
    -ms-interpolation-mode: bicubic;
}
input,button {
    border: none;
    outline: none;
    -webkit-appearance: none;  /*去除input,button默认样式*/
}
strong
{
    font-weight: normal;
}
b
{
    font-weight: normal;
}
i
{
    font-style: normal;
}
body
{
    /*侧栏*/
    background-color: #fff;
    font-family: '方正兰亭细黑简';
    font-size: 0.18rem;
}

/**
 * 左侧栏菜单
 */
.menu
{
    background-color: #22273b;
    background-image: linear-gradient(145deg, #22273b, #22273b);
}

/**
 * 商品面板
 */
.panel
{
    min-height: 100%;
    background-color: #fff;
}

/**
 * hamburger
 */
.btn-hamburger
{
    width: 30px;
    height: 22px;
    border: none;
    position: absolute;
    top: 14px;
    left: 12px;
    outline: none;
    background: url('../images/mobileInternet/menu.png') no-repeat center center;
}

/**
 * Slideout module styles
 */
.menu,
.slideout-menu
{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 5rem;
    -webkit-overflow-scrolling: touch;
    display: none;
}
.panel,
.slideout-panel
{
    position: relative;
    z-index: 1;
}
.slideout-open,
.slideout-open body
{
    overflow: hidden;
}
.slideout-open .slideout-menu
{
    display: block;
}

/**
 * header(开始)
 */
.header {
    position: relative;
    width: 100%;
    height: 0.88rem;
    background-color: #ec6517;
}

.header .header-user,.header .header-menu{
    width: 0.96rem;
    height: 0.88rem;
    float: left;
}

.header .header-menu{
    float: right;
}

.header-user i,.header-menu i{
    width: 0.54rem;
    height: 0.54rem;
    background: url('../images/940/header-menu.png') no-repeat center center;
    background-size: 100% 100%;
    display: block;
    margin: 0.18rem 0.21rem 0.15rem;
}

.header-menu i{
    background: url('../images/940/header-user.png') no-repeat center center;
    background-size: 100% 100%;
}

.header-title{
    width: calc(100% - 1.92rem);
    width: -webkit-calc(100% - 1.92rem);
    height: 0.88rem;
    float: left;
}

.header-title i{
    width: 2.36rem;
    height: 0.36rem;
    display: block;
    margin: 0.26rem auto;
    background: url('../images/940/header-title.png') no-repeat center center;
    background-size: 100% 100%;
}

/**
 * login
 */
.login{
    width: 100%;
    float: left;
    background: url('../images/login/login-bg.png') no-repeat center top;
    background-size: 100% 2.25rem;
}

.login .login-bg{
    width: 100%;
    height: 2.25rem;
    float: left;
}

.login-bg .login-spacing{
    width: 5.04rem;
    height: 1.42rem;
    margin: 0.83rem auto 0;
}

.login .login-bg a{
    width: 4.34rem;
    height: 1.42rem;
    display: block;
}

.login .login-bg img{
    width: 100%;
    display: block;
}

.login .login-animation
{
    width: 100%;
    float: left;
}

.login .login-animation p
{
    width: 3.64rem;
    height: 0.74rem;
    margin: 0 auto;
    background: url('../images/login/login-animation.png') no-repeat center center;
    background-size: 100% 100%;
    position: relative;
    left: -140%;
    top: 0;
}

.login-form
{
    width: 100%;
    margin-top: 0.45rem;
    float: left;
    position: relative;
}

.login-form .login-ipt{
    width: calc(100% - 1.5rem);
    width: -webkit-calc(100% - 1.5rem);
    height: 0.68rem;
    margin: 0 0.74rem 0;
}

.login-form .login-ipt input
{
    width: calc(100% - 0.3rem);
    width: -webkit-calc(100% - 0.3rem);
    height: 0.66rem;
    line-height: 0.3rem;
    font-size: 0.24rem;
    color: #959595;
    padding: 0 0.15rem;
    border: 1px solid #b5b5b5;
}

.login-form .login-ipt input:hover {
    border-color: #33acff;
}

.login-form .login-ipt input.error{
    background-color: #f2deeb;
    color: #a80070;
    border-color: #ff7ac0;
}

.login-form .login-ipt label.error
{
    width: 3rem;
    height: 0.45rem;
    line-height: 0.45rem;
    font-size: 0.24rem;
    color: #f02387;
    padding: 0 0.15rem;
    float: left;
}

.login-form .login-distance, .login-form .login-distance2{
    width: calc(100% - 1.5rem);
    width: -webkit-calc(100% - 1.5rem);
    height: 0.45rem;
    margin: 0 0.74rem 0;
}

.login-form .login-distance2{
    height: 0.4rem;
}

.login-form .login-choice {
    width: calc(100% - 1.5rem);
    width: -webkit-calc(100% - 1.5rem);
    height: 0.32rem;
    margin: 0 0.74rem 0.4rem;
    float: left;
/* 
    background-color: paleturquoise; */
}

.login-choice .login-left{
    width: calc(100% - 1.56rem);
    width: -webkit-calc(100% - 1.56rem);
    height: 0.32rem;
    float: left;
/* 
    background-color: palegreen; */
}

.login-choice .login-left a{
    float: left;
}

.login-choice .login-check{
    width: 0.31rem;
    height: 0.3rem;
    border: 1px solid #b5b5b5;
    cursor: pointer;
    float: left;
}

.login-choice .login-fl, .login-choice .login-passw{
    height: 0.32rem;
    line-height: 0.32rem;
    font-size: 0.24rem;
    color: #959595;
    margin-left: 0.23rem;
    float: left;
}

.login-choice .login-passw{
    margin-left: 0;
}

.login-choice .login-right{
    width: 1.56rem;
    height: 0.32rem;
    float: right;

/*     background-color: palegoldenrod; */
}

.login-choice .login-right a{
    float: right;
}

.login-choice .login-right i{
    width: 0.29rem;
    height: 0.32rem;
    margin: 0 0.15rem;
    background: url('../images/login/login-forget.png') no-repeat center center;
    background-size: 100% 100%;
    float: left;

/*     background-color: pink; */
}

button
{
    cursor: pointer;
    width: 300px;
    height: 44px;
    margin-top: 25px;
    padding: 0;
    background: rgba(6, 127, 228, .71);
       -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    border: 0;
    -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.25) inset,0 2px 7px 0 rgba(0,0,0,.2);
    font-family: 'Microsoft YaHei',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
         -o-transition: all .2s;
       -moz-transition: all .2s;
    -webkit-transition: all .2s;
        -ms-transition: all .2s;
}
button:hover
{
       -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset,0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset,0 2px 7px 0 rgba(0,0,0,.2);
            box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset,0 2px 7px 0 rgba(0,0,0,.2);
}
button:active
{
       -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset,0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset,0 2px 7px 0 rgba(0,0,0,.2);
            box-shadow: 0 5px 8px 0 rgba(0,0,0,.1) inset,0 1px 4px 0 rgba(0,0,0,.1);
    border: 0 solid #016fcb;
}
















/**
 * footer
 */
footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 20;
}

.footer-nav {
    width: 100%;
    height: 1.12rem;
    border-top: 1px solid #c38460;
    background-color: #ec6517;
}

.footer-nav a {
    width: 20%;
    height: 1.12rem;
    float: left;
}

.footer-nav a img {
    width: 100%;
}

.footer-nav a img.footer-icon5 {
    width: 0.76rem;
    height: 0.63rem;
    display: block;
    margin: 0.07rem 0.25rem 0.06rem 0.27rem;
}

.footer-animation {
    background: url('../images/940/footer-animation.png') no-repeat center center;
    background-size: 100% 100%;
}

/* @media screen and (min-width: 540px) {
    #menu,#main,footer{
        width:540px;
        margin: 0 auto;
    }
} */